<div class="center">
Advancing to Green, Inc. (A2Green) is a nonprofit devoted to helping early stage green startups bring their concepts to fruition.  
</br>
The A2Green website is a participatory platform for green startups to:
</br>
</br>
<ul>
<li>showcase <b>CONCEPTS</b></li> 
<li>request <b>NONMONETARY RESOURCES</b></li>
<li>read <b>GROWTH GUIDANCE</b></li>
<li>locate <b>HELPFUL RESOURCES</b></li>
<li>share <b>CHALLENGES and SUCCESSES</b></li>
</ul>
A2Green will also host expos for green startups to promote their concepts.</div>