<div class="center">
	<div>The Website User Agreement and Privacy Policy</div>
	<p>Welcome to the A2Green website (the “Website”).  The Website is made available to you by Advancing to Green, Inc. (“ATG”) subject to the terms of this User Agreement and Privacy Policy.    By using, visiting or otherwise accessing the Website in any manner (all of which are referred to herein as a “use” and the party doing so is referred to herein as a “user” or “you”), <b>you agree to be bound by the User Agreement and Privacy Policy</b> below as they may be changed from time to time (together, the “Terms”).  BE SURE TO READ THE TERMS CAREFULLY AND DO NOT USE THE WEBSITE IF YOU DO NOT AGREE WITH ALL OF THE TERMS.  ATG reserves the right to change the Terms, so be sure to check them each time you use the Website.  Unless specifically indicated to the contrary, each changed version of the Terms supersedes and replaces the prior versions.</p>

	<div><b>USER AGREEMENT</b></div>
	
	<ol>
		<li>
			The Website is for informational purposes only and does not constitute a solicitation or offering of securities or other investments.  Information, advice, posts, ads, and all other items on the Website provided by users (collectively, “Content”) are not endorsed or guaranteed by ATG.  ATG makes no representation that the Website is appropriate for use in any location outside of the United States of America.  “A2Green”, “Enabling Green Innovators” and the bulb-under-stairs logo are the intellectual property  of ATG and may not be used without the prior written permission of ATG.
		</li>  
		<li>
			Your use of the Website is a representation and undertaking by you that: (a) your registration and all Content you provide is truthful and accurate; (b) you will maintain the accuracy of your registration and the Content you provide; (c) you will not submit any personal information if you are under 13 years of age; and (d) your use of the Website does not violate any laws or contracts.
		</li>
		<li>
			By providing Content, you grant ATG a royalty-free non-exclusive license to display the Content on the Website and otherwise publish it in other media. You agree not to provide Content, or links to material, that (a) defames, harasses, abuses, threatens, or in any way infringes the rights of others; (b) is an unauthorized use of copyrighted materials or other intellectual property, trade secrets or confidential information; (c) contains vulgar, obscene, offensive, indecent, unkind or profane language or images; (d) constitutes junk mail, spam or unauthorized advertising; or (e) contains malicious code, viruses, corrupted files, malware or other items that damage the operation of the Website or devices of ATG or users. 
		</li>
		<li>
			ATG has the right, but not the obligation, to: (a) modify, continue or discontinue the Website or any part of the Website; (b) delete Content; (c) pre-screen and block Content before it appears on the Website; (d) block access from particular Internet addresses; and (e) terminate or restrict user access to the Website.  ATG shall have no liability for taking any of these actions or not taking any of these actions.   
		</li>
		<li> 
			ATG is not responsible for: (a) any Content or any aspect thereof, including, but not limited to, the accuracy, integrity or quality of Content; (b) the security of any information transmitted through the Internet or disclosed on the Website; or (c) any links or linked sites, or the content, accuracy or reliability of information or products offered on linked sites. 
		</li>
		<li> 
			ATG has no liability, and users waive any liability ATG may otherwise have, for: (a) the substance, publication, consequences, reliance on, blocking or deletion of Content; (b) any action, inaction or harm caused by the use or misuse of the Website; or (c) any refusal, delay or failure by ATG to display or remove Content. ATG has no liability for any punitive, indirect, incidental, special, consequential or exemplary damages, including, but not limited to, loss of profits, goodwill or reputation.  
		</li>
		<li>  
			You are responsible for your use of the Website and any use through your log in or user name.  You agree to indemnify and hold harmless ATG against all claims arising from your use of the Website (including, but not limited to, any Content you provide) or your violation of the Terms, or arising from any use of the Website, or violation of the Terms, through your log In or user name (including, but not limited to, any Content provided).
		</li>
		<li>
			The Website is provided “AS IS” and you assume all risks associated with using the Website, including, but no limited to, any reliance you may place on Content. 
		</li>
		<li> 
		 	If you access another website through a link on the Website, your use of the other website is subject to the terms of use and privacy policies of that website and ATG is not responsible in any way for your use of that website.
		</li>
		<li>
		  In the event you want to assert a claim against ATG regarding the Website, you agree to submit it to arbitration in the metro Atlanta, Georgia area pursuant to the commercial arbitration rules of the American Arbitration Association.  Each party shall bear its own expenses of arbitration.  Arbitration and the Terms shall be governed by and construed according to the laws of the State of Georgia.
		  </li>
		  <li>      
		  Your obligation to indemnify ATG and ATG’s lack or limitation of liability, wherever stated in the Terms, also applies to the affiliates, officers, agents, representatives, owners, managers and employees of ATG.
		  </li>
	</ol>
	
	<div><b>PRIVACY POLICY</b></div>

	<ol>
		<li>
			ATG automatically collects certain information (the “Collected Information”) about your visit to the Website.  The Collected Information may include, but is not limited to:
			
			<ul class="privacy-policy">
				<li>The Internet domain and Internet Protocol address from which you access the Website;</li>				
				<li>The type of browser and operating system used to access the Website;</li>
				<li>The date and time you access the Website;</li>				
				<li>The pages you visit on the Website;</li>		
				<li>Your user name and password; and</li>		
				<li>If you visited the Website from another website, the URL of the other site.</li>
			</ul>

		</li>
		<li>
			Collected Information may be used by ATG and parties retained by ATG:
			to provide you with access to the Website and the features on the Website;
			for the operation, administration and security of the Website; and
			to improve user experience. 
		</li>
		<li>
			The contact information you provide will only be used by ATG for the operation, administration and security of the Website, and to alert you to site features and special events and to conduct surveys regarding your satisfaction with the Website and ATG. 
		</li>
		<li>     
			The Website may set and access cookies on your computer.  A cookie is a small file that a website transfers to your computer to allow it to remember specific information about your use of the Website. If you do not wish to have cookies stored on your computer, you can change the setting in your browser to turn cookies off.   However, turning off cookies may affect the functioning of parts of the Website.  Also, be aware that disabling cookies in your browser will affect cookie usage at all other websites you visit unless you re-enable cookies.
		</li>
		<li>
			If required by law, Collected Information, Content and any other information you provide may be disclosed by ATG in response to subpoenas, court orders and legal process.  It may also be disclosed by ATG to exercise its legal rights or defend against claims, or to investigate and take action regarding actual or suspected illegal, fraudulent or harmful activity.
		</li>
		<li>
			To protect the confidentiality of Collected Information and contact information, ATG relies on the security measures used by the host of the Website and software applications on the computers containing the information.  However, ATG does not guarantee that all forms of unauthorized access and use can or will be prevented.  ATG makes no warranty whatsoever, express or implied, regarding the security of the Website, including no warranty with respect to the unauthorized interception or access of information transmitted by you or the Website. 
		</li>
	</ol>      

Version date of these Terms:  August 19, 2015. 
</div>